h1,
h2,
h3,
p,
ul,
button,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input:hover,
input:focus,
textarea:focus,
textarea:hover {
  outline: none;
}

textarea {
  resize: none;
}

body {
  color: #212121;
}

img {
  display: block;
}

a:hover,
a:focus {
  color: #2196f3;
}

input:hover,
input:focus,
textarea:focus,
textarea:hover {
  border: 1px solid #2196f3;
}

.btn {
  cursor: pointer;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #fff;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  background-color: yellowgreen;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    background-color: aqua;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    background-color: tomato;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    background-color: tan;
  }
}

.section {
  padding: 94px 0;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header__block {
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .header__block {
    height: 80px;
  }
}

.header-logo {
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .header-logo {
    padding: 16px 0;
  }
}

@media screen and (min-width: 768px) {
  .header-logo {
    padding: 26px 0;
  }
}

.header-logo__text {
  font-weight: 700;
  font-family: Raleway;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1200px) {
  .header-logo__text {
    font-size: 24px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo__text {
    font-size: 26px;
    line-height: 1.2;
  }
}

.header-logo__text--web {
  color: #2196f3;
}

.header-logo__text--studio {
  color: #000;
}

.menu-button {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-menu {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: block;
}

.menu-button.is-open .icon-cross {
  display: none;
}

.header-nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 796px;
}

.header-nav__item {
  margin-right: 50px;
}

.header-nav__item:last-child {
  margin-right: 0;
}

.header-nav__title {
  padding: 20px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background-color: #fff;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}

.header-contacts__mail {
  margin-left: auto;
  margin-right: 50px;
}

.header-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.order {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 1200px) {
  .order {
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .order {
    height: 600px;
  }
}

.order__overlay {
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .order__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background_mobile.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background_mobile.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .order__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background_tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background_tablet.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .order__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background_desctop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background_desctop.jpg);
  }
}

.order__center {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .order__center {
    padding: 118px 0;
  }
}

@media screen and (min-width: 1200px) {
  .order__center {
    padding: 200px 0;
  }
}

.order__title {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #fff;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 1200px) {
  .order__title {
    font-size: 26px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1200px) {
  .order__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.order__btn {
  padding: 10px 32px;
}
/*# sourceMappingURL=main.css.map */