.header-contacts {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background-color: #fff;
  color: $contacts-header-color;
  transition: $animation-color;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;

  &__mail {
    margin-left: auto;
    margin-right: 50px;
  }
  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}
