@mixin font($size, $height) {
  font-size: $size;
  line-height: $height;
}

.header-logo {
  // display: inline-block;

  @media screen and (max-width: 767px) {
    padding: 16px 0;
  }
  @media screen and (min-width: $tablet) {
    padding: 26px 0;
  }

  &__text {
    font-weight: 700;
    font-family: Raleway;
    letter-spacing: 0.03em;

    @media screen and (max-width: 1199px) {
      @include font(24px, 1.16);
    }
    @media screen and (min-width: $desctop) {
      @include font(26px, 1.2);
    }

    &--web {
      color: $web-color;
    }

    &--studio {
      color: #000;
    }
  }
}
