@media screen and (max-width: 767px) {
  .menu-container {
    background-color: $contacts-footer-color;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 40px;

      // background-color: rgba(0, 0, 0, 0.2);
    }
  }
  .bottom {
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // padding-top: 300px;
    // bottom: 0;
  }
}
@media screen and (min-width: $tablet) {
  .menu-container {
    display: flex;
    align-items: center;
  }
  .bottom {
    display: flex;
    flex-direction: column;
  }
}

.menu-button {
  z-index: 3;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: $main-color;

  & .icon-cross {
    display: none;
  }
  & .icon-menu {
    fill: currentColor;
  }
  .menu-button:hover {
    color: $web-color;
  }

  &.is-open .icon-cross {
    display: block;
    // z-index: 4;
  }

  &.is-open .icon-menu {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
