.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header__block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  @media screen and (max-width: $tablet) {
    height: 60px;
  }
  @media screen and (min-width: $tablet) {
    height: 80px;
  }
}
