.menu-container {
  background-color: $contacts-footer-color;

  z-index: 2;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 796px;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.menu-button {
  z-index: 3;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: $main-color;

  & .icon-cross {
    display: none;
  }
  & .icon-menu {
    fill: currentColor;
  }
  .menu-button:hover {
    color: $web-color;
  }

  &.is-open .icon-cross {
    display: block;
    z-index: 4;
  }

  &.is-open .icon-menu {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
