.header-contacts {
  display: none;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    background-color: tomato;
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    // background-color: teal;
  }

  @media screen and (min-width: $desctop) {
    display: flex;
    align-items: baseline;
    padding: 20px 0;
    // flex-direction: column;
    // background-color: teal;
    color: $contacts-header-color;
    transition: $animation-color;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    font-style: normal;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: $tablet) and (max-width: 1199px) {
  .header-contacts__link--mail,
  .header-contacts__link--tel {
    color: $contacts-header-color;
    transition: $animation-color;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    font-style: normal;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: $desctop) {
  .header-contacts__link--mail,
  .header-contacts__link--tel {
    color: $contacts-header-color;
    transition: $animation-color;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    font-style: normal;
    letter-spacing: 0.02em;
  }
}

// padding: 20px 0;
// color: $contacts-header-color;
// transition: $animation-color;
// font-family: Roboto;
// font-weight: 500;
// font-size: 14px;
// line-height: 1.14;
// font-style: normal;
// letter-spacing: 0.02em;

// &__mail {
//   margin-left: auto;
//   margin-right: 50px;
// }
// &__icon {
//   fill: currentColor;
//   margin-right: 10px;
// }
