$icons: 'antenna', 'clock', 'diagram', 'astronaut';

@each $iconName in $icons {
  .icon-#{$iconName}::before {
    background-image: url(../images/svg/#{$iconName}.svg);
  }
}

.peculiarities {
  display: block;
  width: 100%;

  &__item {
    padding-bottom: 30px;
  }
  @media screen and (max-width: 767px) {
    &__item:last-child {
      padding-bottom: 0;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    &__item {
      width: 50%;
      padding-right: 30px;
    }
  }

  @media screen and (min-width: $desctop) {
    &__item {
      width: 25%;
      padding-bottom: 0;
    }
    &__item:last-child {
      padding-right: 0;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    &__item:nth-child(2n) {
      padding-right: 0;
    }
    &__item:nth-last-child(-n + 2) {
      padding-bottom: 0;
    }
  }

  &__item::before {
    display: block;
    content: '';
    margin-bottom: 30px;
    height: 120px;
    background-color: $team-color;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__title {
    text-align: center;
    margin-bottom: 10px;
    color: $main-color;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
  }

  &__description {
    text-align: left;
    font-size: 14px;
    line-height: 1.7;
    color: $contacts-header-color;
    letter-spacing: 0.03em;
  }
}
