.order {
  margin-right: auto;
  margin-left: auto;
  @media screen and (max-width: 1199px) {
    height: 400px;
  }
  @media screen and (min-width: $desctop) {
    height: 600px;
  }
}
.order__overlay {
  background-color: $background-color;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/background_mobile.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/background_mobile@2x.jpg);
    }
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/background_tablet.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/background_tablet@2x.jpg);
    }
  }
  @media screen and (min-width: $desctop) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/background_desctop.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/background_desctop@2x.jpg);
    }
  }
}

.order__center {
  text-align: center;
  align-items: center;

  @media screen and (max-width: $desctop) {
    padding: 118px 0;
  }
  @media screen and (min-width: $desctop) {
    padding: 200px 0;
  }
}
.order__title {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: $contacts-footer-color;
  letter-spacing: 0.06em;

  @media screen and (max-width: $desctop) {
    font-size: 26px;
    line-height: 1.6;
  }
  @media screen and (min-width: $desctop) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.order__btn {
  padding: 10px 32px;
}
